@import '../../common/style/theme';

.answer-poll-container {
    width: 90%;
    background: rgb(250, 240, 240);
    border-radius: 0.3em;
	background: linear-gradient(to bottom right, rgb(211, 201, 204), rgb(250, 240, 240));
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.63);
}

@media (min-width: 32em) {
    .answer-poll-container {
        width: 30em;
    }
}

.answer-poll-form {
    transition: all 0.1s ease-out;
}

.answer-poll-question {
    padding: 0.8em;
    background: rgb(199, 159, 174);
    font-size: 130%;
}

.answer-poll-options-group {
    padding: 0.3em 1em 0.3em 1em;
}
.answer-poll-options-label {
    text-align: left;
    font-weight: 700;
    padding: 0.4em 0 0.4em 2em;
    font-size: 110%;
}

.answer-poll-option {
    display: block;
    padding: 0.2em;
    text-align: left;
    span, .custom-option {
        margin-left: 0.5em;
    }
    &:last-of-type {
        padding-bottom: 0;
    }
    .custom-option {
        display: inline-block;
        border-radius: 0.2em;
        margin-bottom: 0.4em;
        padding: 0.3em 0.4em;
    }

}

.answer-poll-container {
    .btn-add-option {
        background: rgba(243, 233, 221, 0.39);
        color: black;
        display: block;
        margin-left: 2.5em;
        border: 1px solid rgba(130, 112, 112, 0.46);
        border-radius: 0.1em;
        cursor: pointer;
        &:hover {
            box-shadow: inset 0 0 2px 0px black;
            background: #ece7e1;
        }
    }
    .group-submit-answer {
        background: #d6bdc6;
        display: block;
        position: relative;
        text-align: center;
    }
    .btn-submit-answer {
        display: inline;
        cursor: pointer;
        font-size: 100%;
    }
    .btn-submit-answer.disabled{
        background: mix($theme-primary, grey, 20%);
        cursor: not-allowed;
    }
    .btn-submit-answer + span {
        display: none;
    }
    .btn-submit-answer.disabled:hover + span {
        position: absolute;
        top: 1.3em;
        display: inline;
        background: lighten(grayscale($theme-primary), 20%);
        color: white;
        padding: 0.2em 0.5em;
        border-radius: 0.9em 0.2em 0.2em 0.9em;
        font-size: 80%;
    }
}

.chart {
    max-height: 0;
    transition: all 0.3s ease-out;
    transform: translateX(50%);
    right: 50%;
    float: right;
    overflow: hidden;
}
