@import 'reset';
@import 'fonts';
@import '../../common/style/theme';


:root {
	font-size: 16px;
}

body {
  background: $theme-secondary;
}

body {
	font-family: 'Roboto', sans-serif;
}

form {
	text-align: center;
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

button {
	margin: 1em;
	border: 1px solid black;
    border-radius: 0.3em;
    padding: 0.5em;
	background: lighten($theme-primary, 20%);
	color: $theme-secondary;
	outline: none;
}

input[type='text'], input[type='password']  {
	border: 1px solid black;
	border-radius: 5px;
	outline: none;
}
