@import 'reset';
@import 'fonts';
@import '../../common/style/theme';


:root {
	font-size: 16px;
}

body {
  background: $theme-secondary;
}

body {
	font-family: 'Roboto', sans-serif;
}

form {
	text-align: center;
}

.center {
	display: flex;
    justify-content: center;
    align-items: center;
	height: calc(100vh - 3.5em);
    margin-top: 3.5em;
	width: 100vw;
}

.fixed {
	position: fixed;
    top: 0;
    left: 0;
}
button {
	margin: 0.5em;
	border: 1px solid black;
    border-radius: 0.3em;
    padding: 0.5em;
	background: lighten($theme-primary, 20%);
	color: $theme-secondary;
	outline: none;
}

input[type='text'], input[type='password'], textarea  {
	display: block;
	border: 1px solid black;
	border-radius: 5px;
	outline: none;
	background: #f3e6d3;
	font-family: Arial;
}

path {
	user-select: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// ANIMATION
.anim-enter {
  opacity: 0.01;
  height: 0px;
  transform: scale(0.5);
}

.anim-enter.anim-enter-active {
  opacity: 1;
  height: auto;
  transition: 500ms;
  transform: scale(1);
}

.anim-appear {
  opacity: 0.01;
  height: 0px;
  transform: scale(0.9);
}

.anim-appear.anim-appear-active {
  opacity: 1;
  height: auto;
  transition: 300ms;
  transform: scale(1);
}

.anim-leave {
  opacity: 1;
  height: auto;
  transform: scale(1);
}

.anim-leave.anim-leave-active {
  opacity: 0.01;
  height: 0px;
  font-size: 1px;
  transition: 500ms;
  transform: scale(0.5);
}


.answer-appear {
  opacity: 0.01;
  transform: scale(0.95);
}

.answer-appear.answer-appear-active {
  opacity: 1;
  transition: 300ms;
  transform: scale(1);
}
