.container {
	text-align: center;
    box-sizing: border-box;
    padding: 1em;

    width: calc(100vw - 18vmin);
    background: rgb(255, 252, 252);
    border-radius: 0.4rem;
    margin-bottom: 1em;
    box-sizing: content-box;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.5);
}

@media (min-width: 32em) {
    .container {
        width: 25em;
    }
}

.poll-error-msg {
	padding: 0.4rem;
	color: #e28d8d;
	background: #fbe4e4;
}

.poll-form ul {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 5px;
}

.poll-form label {
    display: block;
    margin-top: 1em;
}

.poll-form {
    margin-bottom: 1em;
}

.poll-form input, .poll-form textarea {
	width: 90%;
    margin: 0.6em auto;
   	padding: 0.4em;
}


/*******************************/
.backdrop {
  pointer-events: none;
  position: absolute;
  display: inline-block;
    top: 3.5rem;
    left: 0;
    width: 100%;
    height: calc(100% - 3.5rem);
    background-color: #000;
    opacity: .6;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .35s;
    transition-property: opacity;
}

.close-button {
    position:absolute;
    top: 0;
    right: 0;
    width: 2em;
    height: 2em;
    line-height: 0;
    cursor: pointer;
}
