@import '../../common/style/theme';

.polls {
    list-style-type: none;
    margin: 4.5rem 1rem 2rem 1rem;
    padding: 0;
}

.polls-item {
    position: relative;
    margin: 0.5em auto;
    padding: 0.6em 1em;
    border: none;
    text-align: left;
    max-width: 40rem; /* avoid having a text too wide */
    background-color: #f9f6f6;
    box-shadow: -2px 0px 5px grey;
    -webkit-transition: all, 300ms, ease-out;
    transition: all, 300ms, ease-out;
}

.polls-item:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    box-shadow: -2px 0px 12px grey;
    background-color: #e5e1e1;
}

.polls-item .poll-question {
    font-size: 120%;
    margin-bottom: 0.3em;
    margin-right: 1.3em;
}

.poll-date, .poll-votes, .poll-author {
    font-size: 80%;
}

.poll-author {
    padding-left: 1em;
}

.poll-votes {
    float: right;
    margin-top: 0.3em;
}


.polls .close-button {
	position: absolute;
    color: $theme-primary2;
    background: #f1f1f1;
    border-radius: 0.2em;
    font-size: 90%;

    top: 0.5em;
    right: 1.1em;
    width: 1.5em;
    line-height: normal;
    padding: 0.2em;
    box-shadow: inset 0 0 1px 0px rgba(0, 0, 0, 0.35);

	cursor: pointer;
	margin: 0;
	border: none;
	font-weight: 500;
}
